################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AppEstudar/.vs/AppEstudar/v15
/AppEstudar/AppEstudar/AppEstudar/obj
/AppEstudar/AppEstudar/AppEstudar.Android/obj
/AppEstudar/AppEstudar/AppEstudar.iOS/obj
